<section class="flex flex-wrap mt-10">
  <% for(let book of books) { %>
  <div class="flex flex-col border p-10 w-[20rem]">
    <div id="book<%= book.id %>" class="flex flex-col ">
      <span>Book Name: <%= book.name %></span>
      <span>Book Taken on: <%= new Date(book.createdAt).toLocaleString() %> IST</span>
      <span>Book Return on: <%= new Date(book.createdAt.setHours(book.createdAt.getHours()+1)).toLocaleString() %> IST</span>
      <span>Current fine: <%= value = Math.max(0, (Math.ceil((new Date().getTime() - new Date(book.createdAt).getTime()) / (1000 * 60 * 60)) - 1) * 10) %></span>
      <input type="hidden" hidden name="name" id="name" value="<%= book.name %>" />
      <input type="hidden" hidden name="bookId" id="bookId" value="<%= book.id %>" />
      <input type="number" hidden name="fine" id="fine" value="<%= (Math.ceil((new Date().getTime() -new Date(book.createdAt).getTime()) / (1000 * 60 * 60))-1) * 10 %>" class="outline-none border border-black px-3 py-1" placeholder="Enter fine" />

      <% if(value===0) {%>
      <form id="form<%= book.id %>" action="/add-return-books" method="post">
        <input type="hidden" name="name" id="name" value="<%= book.name %>" />
        <input type="hidden" name="bookId" id="bookId" value="<%= book.id %>" />
        <input type="hidden" name="fine" id="fine" value="<%= 0 %>" />
        <button type="submit" class="border p-[6px] mt-5 rounded-md w-[10rem] bg-black text-white px-2">Return book</button>3
      </form>
      <% } %>

      <% if(value !== 0) { %> <button type='button' onclick="toggleForm('<%= book.id %>')" class="border p-[6px] mt-5 rounded-md w-[10rem] bg-black text-white px-2">Return book</button> <% } %>



    </div>

    <form id="form<%= book.id %>" class="hidden" action="/add-return-books" method="post">
      <input type="hidden" name="name" id="name" value="<%= book.name %>" />
      <input type="hidden" name="bookId" id="bookId" value="<%= book.id %>" />
      <input type="number" name="fine" id="fine" value="<%= (Math.ceil((new Date().getTime() -new Date(book.createdAt).getTime()) / (1000 * 60 * 60))-1) * 10 %>" class="outline-none border border-black px-3 py-1" placeholder="Enter fine" />
      <button type="submit" class="border p-[6px] mt-5 rounded-md w-[10rem] bg-black text-white px-2">Return book</button>
    </form>
  </div>
  <% } %>
</section>

<script>
  console.log(new Data().getTime())

  function toggleForm(bookId) {
    //console.log("bookId", bookId);
    const form = document.getElementById(`form${bookId}`);
    form.classList.remove("hidden")
    const d = document.getElementById(`book${bookId}`);
    console.log(d)
    d.classList.add("hidden");
  }
</script>