<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<script src="js/main.js" defer></script>
</head>

<body>
  <main class="flex item-center flex-col justify-between w-full">
    <section class="w-1/3">
      <%- include("./form.ejs") %>
    </section>
    <%- include("./books.ejs", {books:books}) %>
    <%- include("./return-books.ejs", {returnBooks:returnBooks})  %>
  </main>
  <%- include('./includes/end.ejs') %>